@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>
        <br />
        <br />
        <a class="display-3" asp-controller="Categories" asp-action="Index">Категорії</a>
        <br />
        <br />
        <a class="display-3" asp-controller="Authors" asp-action="Index">Автори</a>
        <br />
        <br />
        <a class="display-3" asp-controller="Readers" asp-action="Index">Читачі</a>
    </h1>
</div>
